:root {
  --orange: #cc4700;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(239, 239, 236);
  color: #541600;
}

.head {
  display: flex;
  width: 100vw;
  justify-content: center;
  background-color: white;
}

header {
  color: #cc4700;
  display: flex;
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center;
  box-sizing: border-box;
}

header h1 {
  margin: 1rem;
}

.lang {
  font-family: "Times New Roman", Times, serif;
  cursor: pointer;
  font-size: 110%;
}

.lang:hover {
  color: rgba(204, 71, 0, 0.8);
}

.banner {
  background-color: #e65100;
  color: white;
  font-size: 300%;
  text-align: center;
  font-family: Space Mono, monospace;
  height: 300px;
  display: grid;
  align-items: center;
  margin-bottom: 2rem;
}

.intro {
  padding: 2rem;
  border: 1px solid #788080;
  max-width: 650px;
  margin: auto;
  margin-bottom: 2rem;
  font-size: 20px;
}

.small {
  font-size: 16px;
}

.list {
  max-width: 1200px;
  margin: auto;
}

.list h2 {
  font-size: 1.3rem;
  border: 1px solid #788080;
  margin-bottom: 40px;
  text-align: center;
  padding: 2rem;
}

.list ul {
  list-style: none;
  width: 650px;
  margin: auto;
}

.list .item {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  border-top: #bbb dashed 1px;
}

.list .item:last-child {
  border-bottom: #bbb dashed 1px;
}

.list img {
  width: 60px;
}

.list .desc {
  font-family: "Times New Roman", Times, serif;
  width: 400px;
  padding: 1rem 0;
}

.list .desc h3 {
  color: #e65100;
  font-weight: 400;
  font-family: "Courier New", Courier, monospace;
  margin: 0;
}

.list .desc p {
  margin: 0.5rem 0;
}

.list .desc .labels {
  display: flex;
  gap: 1rem;
  padding: 0;
}

.list .desc .labels li {
  padding: 0.5rem;
  color: rgba(84, 22, 0, 0.6);
  border: 1px solid rgba(84, 22, 0, 0.2);
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 0.8rem;
}

.list .stars {
  font-family: monospace;
  font-size: 1.1rem;
}

.load-more {
  font-size: 1.3rem;
  border: 1px solid #788080;
  margin: 40px 0;
  text-align: center;
  padding: 2rem;
  color: #e65100;
  cursor: pointer;
}

.load-more:hover {
  background-color: white;
}
